      <section class="section section-alt">
        <div id="map"></div>
      </section>
      <section class="section section-padded">
        <div class="container-fluid">
          <div class="section-header">
            <h1>
              <small class="light">at the corner of</small>
              Judd Parkway
              <small class="light">& Academy St</small>
            </h1>
          </div>
          <p class='span1'></p>
          <p class="span9 lead text-center">
            We can't wait to meet you. So, when you are ready to visit
            Fuquay Varina United Methodist Church, just come on down to
            100 S. Judd Parkway and turn onto Academy St. Take an
            immediate left into our parking lot and grab one of those
            visitors spots right up front that we're saving for you. If
            you have any trouble finding the place, don't hesitate to
            give us a call at 919-552-4331.
          </p>
        </div>
      </section>
      <section class="section section-alt section-padded">
        <div class="container-fluid">
          <div class="section-header">
            <h1>
              <small class="light">We're saving a</small>
              Parking Spot
              <small class="light">for you</small>
            </h1>
          </div>
          <div class="row-fluid">
            <div class="span6 ">
              <p class='lead text-center' >In our parking lot we have
              designated <span
                class='bold'>visitor spots</span> for you on your first
              few visits to our building. Please just pull in to
              those front row spots and go in the side door.</p>
            </div>
            <div class="span6">
              <img src="images/parking.png" alt="Parking Lot image" />
            </div>
          </div>
        </div>
      </section>

      {% include question_section.html %}


  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>
    // Create an array of styles.
    var styles = [
      {
          stylers: [
              { saturation: -85 }
          ]
      },{
          featureType: 'road',
          elementType: 'geometry',
          stylers: [
              { hue: "#002bff" },
              { visibility: 'simplified' }
          ]
      },{
          featureType: 'road',
          elementType: 'labels',
          stylers: [
              { visibility: 'simplified' }
          ]
      }
    ],
    // put your locations lat and long here
    lat = 35.582578,
    lng = -78.784318,

    // Create a new StyledMapType object, passing it the array of styles,
    // as well as the name to be displayed on the map type control.
    styledMap = new google.maps.StyledMapType(styles,
        {name: 'Styled Map'}),

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    mapOptions = {
        zoom: 14,
        scrollwheel: false,
        center: new google.maps.LatLng( lat, lng ),
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP]
        }
    },
    map = new google.maps.Map(document.getElementById('map'), mapOptions),
    charlotte = new google.maps.LatLng( lat, lng ),

    marker = new google.maps.Marker({
      position: charlotte,
      map: map,
      title: "Fuquay Varina United Methodist Church"
    });

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  </script>

