      <section class="section section-alt section-padded">
        <div class="container-fluid">
          <div class="section-header">
            <h1>
              <small class="light">Our</small> Pastors
            </h1>
          </div>
          <ul class="unstyled row-fluid">
            <li class="span4">
              <div class="round-box box-big">
                <span class="box-inner">
                  <img alt="some image" class="img-circle" src="images/assets/people/gene.jpg">
                </span>
              </div>
              <h3 class="text-center">
                Gene Tyson
                <small class="block">
                  Lead Pastor
                </small>
              </h3>
              <p>
Gene has served for over 30 years in the ministry, mainly in North Carolina (he was born in eastern N.C.) "I am a firm believer in being in a weekly small group with guys you know and can share about what is going on in your life. We have laughed, cried, cussed and loved on each other. It's called getting real, and I believe that is where my love for God has grown more than any other place."
              </p>
              <ul class="inline text-center big social-icons">
                <li>
                  <a data-iconcolor="#00a0d1" href="mailto:gtyson@fvumc.org">
                 <i class="icon-envelope"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li class="span4">
              <div class="round-box box-big">
                <span class="box-inner">
                  <img alt="some image" class="img-circle" src="images/assets/people/valerie.jpg">
                </span>
              </div>
              <h3 class="text-center">
                Valerie Tyson
                <small class="block">
                  Pastor
                </small>
              </h3>
              <p>
Valerie feels she's living God's answered prayer that she and Gene would one day serve a church together. "My love for God has developed through disciplined praise. Whether it's alone in my office at home or in a group setting, praise and worship develops and deepens our love for God. It's not always easy..or pretty for that matter. But to press in and be faithful and intentional in praise - well, it yields a beautiful fruit."
              </p>
              <ul class="inline big text-center social-icons">
                <li>
                  <a data-iconcolor="#00a0d1" href="mailto:vtyson@fvumc.org">
                 <i class="icon-envelope"></i>
                 </a>
                </li>
              </ul>
            </li>
            <li class="span4">
              <div class="round-box box-big">
                <span class="box-inner">
                  <img alt="some image" class="img-circle" src="images/assets/people/kevin.jpg">
                </span>
              </div>
              <h3 class="text-center">
                Kevin Johnson
                <small class="block">
                  Pastor
                </small>
              </h3>
              <p>
Kevin came to North Carolina from Illinois while attending Duke Divinity School (graduated with his Master's of Divinity in 2010).
"I love God through worshiping God in song, especially with young people. I will never forget being at Camp Don Lee and singing with our high school students. I love seeing teenagers grow in their faith and become committed followers of Jesus."
              </p>
              <ul class="inline big text-center social-icons">
                <li>
                  <a data-iconcolor="#00a0d1" href="mailto:kjohnson@fvumc.org">
                 <i class="icon-envelope"></i>
                 </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

