      <!-- Church Resources -->
      <section class="section section-padded">
        <div class="container-fluid">
          <div class="section-header">
            <h1>
              Useful
              <small class="light">Links</small>
            </h1>
          </div>

          <div class="row-fluid">
            <div class="span3">
              <h4><a href="https://docs.google.com/forms/d/1d2-UCHvzMa8R1rxegEIv5IOTDX0OKhA7j6b2Zzcqya4/viewform" target="_blank">ConneXions Sign Up</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="https://www.google.com/calendar/embed?src=nccumc.net_1ip6pl5jcrl545bs2quhn4no8k%40group.calendar.google.com&ctz=America/New_York" target="_blank">Calendar of Events</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="https://secure.accessacs.com/access/memberlogin.aspx?sn=98702" target="_blank">Church Family Log In</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="http://www.ministrymatters.com/spiritualgifts/#axzz2Pyrjk8hK" target="_blank">Spiritual Gifts Discovery</a>
              </h4>
            </div>
          </div>


          <div class="row-fluid">
            <div class="span3">
              <h4><a href="https://docs.google.com/forms/d/1Qc7da-zDizHiUsOF3ULeAGcsQ4dmXQbQ2bFU0CzCR6A/viewform" target="_blank">Pastor's Bible Study Registration</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="https://docs.google.com/forms/d/1wRClhjmvLT5qJz89-yZTvPiAff3T7wxXIhLmy-Lh9vQ/viewform" target="_blank">Confirmation Registration</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="https://docs.google.com/spreadsheet/viewform?formkey=dEw4aDhhVjZZOXZwTzR6TGd0N3pPN3c6MA#gid=0" target="_blank">Kidz NPraise Registration</a>
              </h4>
            </div>
            <div class="span3">
              <h4><a href="http://fvumcchildren.wordpress.com/" target="_blank">Children's Ministry Blog</a></h4>
            </div>
          </div>
      </section>

