<!-- Church Staff-->
      <section class="section section-padded">
        <div class="container-fluid">
          <div class="section-header">
            <h1>
             Church
              <small class="light">Staff</small>
            </h1>
          </div>

<div class="row-fluid">
            <div class="span3">
              <h4>
               Jennifer Harrenstein
              </h4>
              <p>
               Director of Music Ministries
               <br/><a href="mailto:jharrenstein@fvumc.org"><i class="icon-envelope"></i> jharrenstein@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
                Emily Sterling
              </h4>
              <p>
                Director of Children's Ministries
                <br/><a href="mailto:esterling@fvumc.org"><i class="icon-envelope"></i> esterling@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
               Joan Thomas
              </h4>
              <p>
                Director of Finance & Administration
                <br/><a href="mailto:jthomas@fvumc.org"><i class="icon-envelope"></i> jthomas@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
               Bob Anderson
              </h4>
              <p>
               Property Manager
                <br/><a href="mailto:banderson@fvumc.org"><i class="icon-envelope"></i> banderson@fvumc.org</a>
              </p>
            </div>
    </div>

    <div class="row-fluid">
            <div class="span3">
              <h4>
               Ted Willis
              </h4>
              <p>
                Associate Director of Music Ministries
                <br/><a href="mailto:twillis@fvumc.org"><i class="icon-envelope"></i> twillis@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
               Lynne Sorrels
              </h4>
              <p>
               Preschool Director
                <br/><a href="mailto:fvumcpre@yahoo.com"><i class="icon-envelope"></i> fvumcpre@yahoo.com</a>
              </p>
            </div>

            <div class="span3">
              <h4>
                Jane Gue
              </h4>
              <p>
                Executive Administrative Assistant
                <br/><a href="mailto:jgue@fvumc.org"><i class="icon-envelope"></i> jgue@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
                Andrew Trembly
              </h4>
              <p>
                Custodian
                <br/><a href="mailto:atrembly@fvumc.org"><i class="icon-envelope"></i> atrembly@fvumc.org</a>
              </p>
            </div>
    </div>

<div class="row-fluid">
            <div class="span3">
              <h4>
                Diana Thomas
              </h4>
              <p>
                Organist/Pianist
                <br/><a href="mailto:dthomas@fvumc.org"><i class="icon-envelope"></i> dthomas@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
               Toni Drapkin
              </h4>
              <p>
               Nursery Manager
                <br/><a href="mailto:tdrapkin@fvumc.org"><i class="icon-envelope"></i> tdrapkin@fvumc.org</a>
              </p>
            </div>

            <div class="span3">
              <h4>
                Paulette Pearce
              </h4>
              <p>
                Administrative Assistant
                <br/><a href="mailto:ppearce@fvumc.org"><i class="icon-envelope"></i> ppearce@fvumc.org</a>
              </p>
            </div>
    </div>          </div>

      </section>

