      <section class="section section-alt section-padded section-dark">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="super-hero-unit super-marged">
              <h1 class="super">
                Worship
                <span class="lighter">
                  Times
                </span>

              </h1>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <div class="well well-package span10">
                <h3 class="well-package-heading">
                  Contemplative
                </h3>
                <div class="well-package-price">
                  <small>
                  &nbsp;&nbsp;&nbsp;
                  </small>
                  8:00
                  <small>
                    am
                  </small>
                </div>
                <ul class="well-package-list">
                  <li>Holy <strong>Communion</strong> Weekly</li>
                  <li><strong>Music</strong> Led by Ensembles in a Variety of Styles</li>
                  <li><strong>Nursery</strong> for Infants & Toddlers</li>
                  <li>No <strong>Sunday School</strong> During This Hour</li>
                </ul>
              </div>
            </div>
            <div class="span4">
              <div class="well well-package well-package-feature span10 offset1">
                <h3 class="well-package-heading">
                  Contemporary
                </h3>
                <div class="well-package-price">
                  <small>
                  &nbsp;&nbsp;&nbsp;
                  </small>
                  9:30
                  <small>
                    am
                  </small>
                </div>
                <ul class="well-package-list">
                  <li>Holy <span style="font-weight : 700;">Communion</span> on First Sunday</li>
                  <li><span style="font-weight : 700;">Music</span> Led by Praise Band and Praise Choir</li>
                  <li><span style="font-weight : 700;">Nursery</span> for Infants & Toddlers</li>
                  <li><span style="font-weight : 700;">Sunday School</span> for All Ages</li>
                  <li><span style="font-weight : 700;">Children's Church</span> for K-2nd Graders</li>
                </ul>
              </div>
            </div>
            <div class="span4">
              <div class="well well-package span10 offset2">
                <h3 class="well-package-heading">
                  Traditional
                </h3>
                <div class="well-package-price">
                  <small>
                  &nbsp;&nbsp;&nbsp;
                  </small>
                  11:00
                  <small>
                    am
                  </small>
                </div>
                <ul class="well-package-list">
                  <li>Holy Communion on First Sunday</li>
                  <li>Music Led by Worship Choir and Instruments of
                  Praise</li>
                  <li>Nursery for Infants & Toddlers</li>
                  <li>Sunday School for All Ages</li>
                  <li>Children's Church Preschool-2nd Grade</li>
                  <li>Special Needs Sunday School for Children 3-16 with
                  Paid Nurse and Pager System</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


